/* styles.css */
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-size: 1.2em;
  font-family: "Roboto", serif;
  font-weight: 300;
  background-color: var(--secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #cda1a7;
  --purple: #8d6c9f;
  --secondary: #deb4ba;
  --blue: #bbdef9;
  --neutral: #fff7f0;
  --neutral2: #faefde;
  --error: #e0678f;
  --success: #72caaf;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin: 30px;
}

.greeting {
  font-style: italic;
}

.main__title {
  font-size: xx-large;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

/* TASKS */
.task__item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: background-color 0.3s;
}

.task__content {
  flex: 1; /* Take up remaining space from priority color */
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/* Header Row Styling */
.task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative; /* Helps anchor elements without affecting flow */
}

/* Left Section: Checkbox and Title */
.task__left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 2;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  accent-color: green;
}

.task__title {
  font-weight: 400;
}

.task__desc {
  padding: 5px 0;
}

/* Right Section: Buttons */
.task__options {
  display: flex;
  gap: 5px;
}

.task__btn--edit {
  background-color: var(--success);
  color: white;
}

.task__btn--del {
  background-color: #f44336;
  color: white;
}

.task__btn--edit:hover {
  background-color: #45a049;
}

.task__btn--del:hover {
  background-color: #d32f2f;
}

.task__item:hover {
  background-color: #f3f3f3;
}

.task__item.completed {
  background-color: var(--success);
  color: #fff;
}

.task__item.completed:hover {
  background-color: #76c1aa;
  color: #fff;
}

.task__item.completed .task__title {
  text-decoration: line-through;
  color: #fff;
}
.priority-indicator {
  width: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.priority-indicator[data-priority="3"] {
  background-color: var(--error);
}

.priority-indicator[data-priority="2"] {
  background-color: rgb(226, 226, 103);
}

.priority-indicator[data-priority="1"] {
  background-color: #76c1aa;
}

.task__item {
}

/* TASK MODAL FORM */
#task__form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

.task__form--content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  background-color: var(--secondary);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid #888;
  max-width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-btn {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#task__btn {
  background-color: var(--neutral);
  padding:1em;
  border-radius: 15px;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 30px;
}

.sidebar__header h1 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

.project__item li:hover {
  background-color: #555;
}

.project__item {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  justify-content: space-between;
  min-height:30px
}

.active-project,
.project__form {
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.active-project {
  color: var(--neutral2);
  background-color: var(--secondary);
  font-weight: 400;
}

/* .project__item img,
.project__form img {
  height: 20px;
  width: 20px;

} */


.project__btn--del {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__btn--del svg{
  width: 20px;
  height: 20px;
  fill: #bdbbbb; /* Default color */
  transition: stroke 0.3s ease;
  
}

.project__btn--del:hover svg{
  transition: stroke 0.3s ease;
  filter: drop-shadow(1px 1px 2px rgba(180, 180, 180, 0.4));
  fill: var(--error)
}
.project__item.active-project .project__btn--del svg {
  fill: white; /* Change icon color */
}

.project__item.active-project .project__btn--del:hover svg {
  fill: var(--error); /* Change icon color */
  filter: drop-shadow(2px 5px 2px rgb(180 180 180 / 0.4));

}

/* 
.active-project.project__item img {
  filter: grayscale(0) brightness(0) invert(1);
}

.project__item:hover img {
  filter: grayscale(0) brightness(0) invert(.5); Hover color (white or any) */


.project__form img {
  margin: 0px;
  transition: filter 0.3s ease-in;
  transition-delay: transform 0.3s;
}
.project__form img:hover {
  filter: contrast(150%);
  transform: scaleX(-1);
}

.btn {
  border: none;
  cursor: pointer;
  background: none;
}

.project__form {
  display: flex;
  flex-direction: row;
  background-color: var(--neutral2);
  margin: 5px;
  font-size: 1.2em;
  max-width: 100%;
}

.project__input {
  flex-grow: 2;
  border: none;
  padding: 2%;
  width: 100%;
  font-size: 0.8em;
  background: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
.project__form:focus-within {
  outline: 1px solid var(--purple);
}

.project__form .project__input::-webkit-input-placeholder {
  opacity: 0.4;
}

.project:-ms-input-placeholder {
  opacity: 0.4;
}

.new::-ms-input-placeholder {
  opacity: 0.4;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::-webkit-input-placeholder {
  opacity: 0.15;
}

.new:focus:-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::-ms-input-placeholder {
  opacity: 0.15;
}

.new:focus::placeholder {
  opacity: 0.15;
}


/* MODAL */
.project-modal {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Modal Content */
.project-modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 20%;
}

.modal-header {
  background-color: var(--purple);
  padding: 3%;
  color: #fff;
}

/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Form */

#project-form {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--neutral);
  color: purple;
  text-align: center;
}

footer a {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .task__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

/*Tablet*/
@media only screen and (min-width: 600px) {
  .project-modal-content {
    width: 80%;
  }
}

/*Desktop*/
@media only screen and (min-width: 768px) {
  .project-modal-content {
    width: 30%;
  }
}
